/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 99px;
  padding: 7px 23px;
  width: 100%;
  max-width: fit-content;
  font-family: inherit;
  font-weight: var(--fw-600);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-red-400);
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    color: var(--color-red-400);
    background-color: var(--color-white);
  }

  &--sign {
    color: var(--color-dark-900);
    background-color: var(--color-white);
  }

  &--big {
    padding: 12px 47px;
  }

  // &--small {
  //   border-color: transparent;
  //   padding: 0;
  //   background-color: transparent;

  //   &:hover,
  //   &:focus {
  //     color: var(--color-red-400);
  //     background-color: transparent;
  //   }
  // }

  // &--request {
  //   color: var(--color-white);
  //   background-color: var(--color-red-400);

  //   &:hover,
  //   &:focus {
  //     color: var(--color-red-400) !important;
  //     background-color: var(--color-white);
  //   }
  // }

  &--slider {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    padding: 0;
    background-color: var(--color-white);
    opacity: 0.6;

    &::before {
      content: "";
      position: absolute;
      mask-image: url("../images/icons/arrow.svg");
      background-color: var(--color-black);
      width: 8px;
      height: 12px;
    }
  }
}
